.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6e8ea;
  width: 50%;
  padding: 1.5rem;
  margin: 10rem auto;
}

.container h1 {
  color: #5a0001;
  margin-bottom: 2rem;
}

.categories {
  display: flex;

  gap: 2rem;
}

.categories a {
  padding: 1rem;
  background-color: aliceblue;
  font-size: large;
  text-decoration: none;
  color: #5a0001;
}
